numpy # For numerical computations
networkx # For graph operations
matplotlib # For plotting and visualizations
tqdm # For progress bars
scipy # For sparse matrix operations
ripser # For TDA computations
imageio # For saving visualizations as GIFs
torch # For deep learning model
opencv-python # For image processing
librosa # For audio processing
persim # For persistent homology computations
h5py # For saving FUM's brain